/* =================================
  Base Element Styles
==================================== */
* {
box-sizing: border-box;
}

body {
	line-height: 1.6;
	background-color: rgba(128, 128, 128, 0.2);
}

a {
	text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  margin: 0 auto;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  padding-top: 15px;
  font-size: 1.2em;
  font-weight: 600;
}

p,
a,
span {
  font-family: sans-serif;
}

p,
a,
span,
h1,
h2 {
  color: #696969;
}

/* =================================
  Base Layout Styles
==================================== */

/* Layout Container */

.container {
 margin: 0 auto;
 width: 100%;
}

.p-page {
  padding-bottom: 35px;
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
}

.main-header {
  margin-bottom: 50px;
  text-align: center;
}

.main-footer {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  padding-top: 50px;
}

.portfolio-images {
  width: 90%;
}

.profile-photo {
  width: 70%;
  margin-bottom: 30px;
}

.h2-portfolio {
  padding-bottom: 50px;
  font-size: 1.2em;
  font-weight: 800;
}

/* Navigation */

.name {
  margin-top: 0;
  font-size: 2em;
  font-family: sans-serif;
}

.main-nav li {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.0em;
  padding-bottom: 20px;
}

.main-nav ul,
.foot-nav ul {
  padding-left: 0px;
}

.p-profile {
  width: 100%;
  text-align: center;
}

/* Footer */

.foot-nav li {
  display: inline-block;
  font-weight: 600;
  text-align: left;
}

.foot-nav ul {
  margin-bottom: 0;
  position: relative;
}

.foot-nav {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  margin-top: 60px;
  padding-top: 15px;
}

.phone,
.email {
  display: inline-block;
  font-weight: 600;
  margin-left: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

.main-footer p {
  padding-bottom: 10px;
}

.contact {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.footer-student,
.footer-top {
  position: absolute;
}

.footer-student {
  bottom: 0;
  left: 0;
}

.footer-top {
  bottom: 0;
  right: 0;
}
