/* =================================
  Base Element Styles
==================================== */
* {
box-sizing: border-box;
}

body {
	line-height: 1.6;
	background-color: rgba(128, 128, 128, 0.2);
	font-family: sans-serif;
	text-align: center;
	color: #696969;
}

a {
	text-decoration: none;
	color: #696969;
}

li {
  list-style: none;
}

img {
  margin: 0 auto;
	width: 100%;
	height: auto;
}

/* =================================
  Base Layout Styles
==================================== */

/*************************************************
***************** Layout Container ***************
*************************************************/

.container {
 margin: 0 auto;
 width: 100%;
}

.title {
	padding-top: 15px;
	font-size: 1.2em;
}

.p-page {
  padding-bottom: 35px;
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
}

.main-header {
  margin-bottom: 50px;
}

.main-footer {
  margin: 0 auto;
  width: 90%;
  padding-top: 50px;
}

.portfolio-images {
  width: 90%;
}

.profile-photo {
  width: 70%;
  margin-bottom: 30px;
}

.h2-portfolio {
  padding-bottom: 15px;
  font-size: 1.2em;
}

/*************************************************
******************* Navigation *******************
*************************************************/

.name {
  margin-top: 0;
  font-size: 2em;
}

.main-nav li {
  font-size: 1.0em;
  padding-bottom: 20px;
}

.main-nav ul,
.foot-nav ul {
  padding-left: 0px;
}

.p-profile {
  width: 90%;
  margin: 0 auto;
	padding-bottom: 80px;
}

/*************************************************
*****************  Footer Layout *****************
*************************************************/
.foot-nav li {
  display: inline-block;
  font-weight: 600;

}

.foot-nav ul {
  margin-bottom: 0;

}

.nav-bottom {
	border-top: 1px solid rgba(128, 128, 128, 0.3);
	margin-top: 60px;
}

.foot-nav {
  padding-top: 15px;
}

.phone,
.email {
  display: inline-block;
  font-weight: 600;
  margin-left: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

.main-footer {
	position: relative;
}

.main-footer p {
  padding-bottom: 10px;
}

.contact {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.foot-student,
.footer-top {
  position: absolute;
}

.foot-student {
  bottom: 10px;
  left: 0;
	font-weight: 600;
}

.footer-top {
  bottom: 10px;
  right: 0;
}

.bottom-right {
	display: none;
}

/* =================================
  					Media Queries
==================================== */

@media (min-width: 768px) {

	/*************************************************
	*****************  Header Layout *****************
	*************************************************/

	.h2-portfolio{
		clear:both;
		padding-top: 100px;
		font-size: 14px;
	}

	.main-header {
		margin-bottom: 30px;
	}

	.main-nav li{
		display: inline-block;
		padding: 10px 15px 30px 15px;
		font-size: 12px;
	}

	.name {
		padding-top: 30px;
		font-size: 20px;
	}

	.profile-photo {
		float: right;
		width: 40%;
	}

	.p-profile {
		width: 60%;
		text-align: left;
		float: left;
		padding-right: 1em;
		font-size: 15px;
	}

	/*************************************************
	***************  Container Layout ****************
	*************************************************/

	.container{
		width: 90%;
	}

	.first-portfolio {
		float: left;
		width: 50%;
	}

	.p-page {
		font-size: 14px;
	}

	.title {
		font-size: 16px;
	}

	.second-portfolio{
		float: right;
		width: 50%;
	}

	/*************************************************
	***************** Footer Layout ******************
	*************************************************/

	.contact {
		font-size: 14px;
		padding-bottom: 30px;
		padding-top: 50px;
	}

	.email,
	.phone,
	span {
		font-size: 16px;
	}

	.main-footer p {
		width: 80%;
		margin: 0 auto;
		padding-bottom: 40px;
	}

	.foot-nav {
		float: right;
	}

	.bottom-right {
		float: right;
		display: inline-block;
		padding-bottom: 5px;
		padding-left: 15px;
		font-size: 14px;
		font-weight: normal;
	}

	.foot-student {
		float: left;
		font-size: 14px;
		font-weight: normal;
	}

	.footer-top {
		display: none;
	}

	/*************************************************
	******************** Clearfix **********************
	*************************************************/
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {

	.name {
		float: left;
		padding-top: 25px;
	}

	.main-nav {
		float: right;
		font-size: 25px;
	}

}
