/* =================================
  Base Element Styles
==================================== */
* {
box-sizing: border-box;
}

body {
	line-height: 1.6;
	background-color: rgba(128, 128, 128, 0.3);
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #696969;
}

a {
	text-decoration: none;
	color: #696969;
}

li {
  list-style: none;
}

img {
  margin: 0 auto;
	width: 100%;
	height: auto;
}

/* =================================
  Base Layout Styles
==================================== */

/*************************************************
***************** Main Content Layout ***************
*************************************************/

.container {
 margin: 0 auto;
 width: 100%;
}

.title {
	padding-top: 15px;
	font-size: 1.2em;
}

.p-page {
  padding-bottom: 35px;
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
}

.portfolio-images {
  width: 90%;
	box-shadow: 3px 3px 10px 0 #696969;
}

.profile-photo {
  width: 70%;
  margin-bottom: 30px;
}

.h2-portfolio {
  padding-bottom: 15px;
  font-size: 1.2em;
}

/*************************************************
****************** Header Layout *****************
*************************************************/

.main-header {
  margin-bottom: 50px;
}

.name {
  margin-top: 0;
  font-size: 2em;
	font-family: 'Lobster' , 'Raleway' , sans-serif;
	letter-spacing: 1.5px;
}

.main-nav li {
  font-size: 1.0em;
  padding-bottom: 20px;
}

.main-nav a:hover,
.foot-nav a:hover,
.foot-student a:hover,
.portfolio-links:hover {
	color: black;
}

.main-nav ul,
.foot-nav ul {
  padding-left: 0px;
}

.p-profile {
  width: 90%;
  margin: 0 auto;
	padding-bottom: 80px;
}

/*************************************************
*****************  Footer Layout *****************
*************************************************/
.foot-nav li {
  display: inline-block;
  font-weight: 600;

}

.foot-nav ul {
  margin-bottom: 0;

}

.nav-bottom {
	border-top: 1px solid rgba(128, 128, 128, 0.3);
	margin-top: 60px;
}

.foot-nav {
  padding-top: 15px;
}

.phone,
.email {
  display: inline-block;
  font-weight: 600;
  margin-left: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

.main-footer {
  margin: 0 auto;
  width: 90%;
  padding-top: 50px;
	position: relative;
}


.main-footer p {
  padding-bottom: 10px;
}

.contact {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.foot-student,
.footer-top {
  position: absolute;
}

.foot-student {
  bottom: 10px;
  left: 0;
	font-weight: 600;
}

.footer-top {
  bottom: 10px;
  right: 0;
}

.bottom-right {
	display: none;
}

/*************************************************
******************** Clearfix ********************
*************************************************/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* =================================
  					Media Queries
==================================== */

@media (min-width: 768px) {

/*************************************************
*****************  Header Layout *****************
*************************************************/

	.h2-portfolio{
		clear:both;
		padding-top: 100px;
		font-size: 14px;
	}

	.main-header {
		margin-bottom: 70px;
	}

	.main-nav li{
		display: inline-block;
		padding: 10px 15px 30px 15px;
		font-size: 15px;
		font-weight: bold;
	}

	.main-nav ul {
		border-bottom: 1px solid rgba(128, 128, 128, 0.3);
	}

	.name {
		padding-top: 30px;
		font-size: 30px;
	}

	.profile-photo {
		float: right;
		width: 40%;
	}

	.p-profile {
		width: 60%;
		text-align: left;
		float: left;
		padding-right: 1em;
		font-size: 16px;
	}

	/*************************************************
	**************** Main Content Layout *************
	*************************************************/

	.container{
		width: 90%;
		max-width: 768px;
	}

	.first-portfolio,
	.third-portfolio,
	.fifth-portfolio {
		float: left;
		width: 50%;
	}

	.p-page {
		font-size: 15px;
	}

	.title {
		font-size: 16px;
	}

	.second-portfolio,
	.fourth-portfolio,
	.sixth-portfolio {
		float: right;
		width: 50%;
	}

	.first-row-container,
	.second-row-container,
	.third-row-container {
		display: inline-block;
	}
/*************************************************
***************** Footer Layout ******************
*************************************************/
	.contact {
		font-size: 14px;
		padding-bottom: 30px;
		padding-top: 50px;
	}


	.email,
	.phone,
	span {
		font-size: 16px;
	}

	.main-footer p {
		width: 80%;
		margin: 0 auto;
		padding-bottom: 40px;
	}

	.foot-nav {
		float: right;
	}

	.bottom-right {
		float: right;
		display: inline-block;
		padding-bottom: 5px;
		padding-left: 15px;
		font-size: 14px;
		z-index: 1;
	}

	.foot-student {
		float: left;
		font-size: 15px;
		z-index: 1;
		font-weight: bold;
	}

	.footer-top {
		display: none;
	}

}

@media (min-width: 1024px) {

/*************************************************
*****************  Header Layout *****************
*************************************************/

	.name {
		float: left;
		padding-top: 15px;
	}

	.main-nav {
		float: right;
		height: 80px;
	}

	.main-nav ul {
		border-bottom: 0;
	}

	.header-container {
		border-bottom: 1px solid rgba(128, 128, 128, 0.3);
		height: 80px;
	}

	/*************************************************
	************** Main Content Layout ***************
	*************************************************/

	.h2-portfolio {
		padding: 50px;
	}

	.container {
		max-width: 1024px;
	}

	.first-portfolio,
	.third-portfolio,
	.fifth-portfolio {
		float: left;
		width: 33.3%;
		height: auto;
	}

	.second-portfolio,
	.fourth-portfolio,
	.sixth-portfolio {
		float: left;
		width: 33.3%;
		height: auto;
	}

	.first-row-container,
	.second-row-container,
	.third-row-container {
		display: block;
	}

	/*************************************************
	*************** Main Footer Layout ***************
	*************************************************/

	.foot-nav a {
		font-weight: bold;
		font-size: 14px;
	}

}
